@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  min-height: 55px;
  background-color: #f55a5a;
  color: #fff;
}
.header > img {
  height: 25px;
}

.card {
  display: flex;
  justify-content: center;
}
.card--img {
  height: 168px;
  border-radius: 5px;
}
